@model EntradaEditarViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewData["Title"] = "Editar Entrada";
	var mostrarInputFile = string.IsNullOrEmpty(Model.ImagenPortadaActual);
}

<h1>Editar entrada</h1>

<h5>
	Aquí podemos editar una entrada al blog
</h5>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form enctype="multipart/form-data" asp-action="Editar" id="formEntrada">
	<div class="mb-3">
		<label asp-for="Titulo" class="form-label"></label>
		<input asp-for="Titulo" class="form-control" type="text" autocomplete="off" />
		<span asp-validation-for="Titulo" class="text-danger"></span>
	</div>

	<div class="mb-3">
		<label asp-for="Cuerpo" class="form-label"></label>
		<input style="display: none" asp-for="Cuerpo" class="form-control" />
		<div id="editor"></div>
		<span id="cuerpo-error" class="text-danger"></span>
	</div>

	<div class="mb-3">
		<input type="hidden" id="imagenRemovida" name="imagenRemovida" value="false" />
		<input type="hidden" asp-for="ImagenPortadaActual" />
		<input type="hidden" asp-for="ImagenPortadaIA" />

		<label asp-for="ImagenPortada" class="form-label"></label>

		<input type="file" asp-for="ImagenPortada" class="form-control"
			onchange="mostrarPrevisualizacion(event)"
			style="@(mostrarInputFile ? "display: block;" : "display: none;")"
		/>
		<div>
			<img id="loading-image-ia"
				 class="mt-2 mb-2"
				 style="display: none; width: 100px"
				 src="~/img/loading.gif" />
		</div>


		<span asp-validation-for="ImagenPortada" class="text-danger"></span>
		<img id="PreviewImagen" class="mb-3 mt-3" src="@Model.ImagenPortadaActual"
			style="@(mostrarInputFile ? "display: none;" : "display: block;") width: 400px"
		/>
		<div class="mt-2">
			<button type="button" class="btn btn-secondary mt-2" onclick="generarImagen()">Generar con IA</button>

			<button id="btnRemoverImagen" onclick="removerImagen()" type="button"
					class="btn btn-secondary"
					style="@(mostrarInputFile ? "display: none;" : "display: inline;")">
				Remover
			</button>
		</div>
	</div>

	<button type="button" onclick="btnEnviarClick()" class="btn btn-primary">Enviar</button>
	<a class="btn btn-outline-secondary" asp-action="Index" asp-controller="Home">Cancelar</a>
</form>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<script src="~/js/formulario-entradas.js"></script>

	<script>
		function removerImagen() {
			const btnRemoverImagen = document.getElementById("btnRemoverImagen"); // Botón de remover
			const previewImagen = document.getElementById("PreviewImagen"); // Imagen de previsualización
			const imagenRemovida = document.getElementById("imagenRemovida"); // Input oculto para indicar si la imagen ha sido removida
			const inputImagenPortada = document.getElementById("ImagenPortada"); // Input file

			previewImagen.style.display = "none"; // Ocultar la imagen de previsualización
			btnRemoverImagen.style.display = "none"; // Ocultar el botón de remover
			inputImagenPortada.style.display = "block"; // Mostrar el input file
			imagenRemovida.value = "true"; // Indicar que la imagen ha sido removida
		}

		let contenidoCuerpo = $("#Cuerpo").val(); // Obtener el valor del input oculto
		let jsonDelta = JSON.parse(contenidoCuerpo); // Parsear el string JSON a un objeto
		cargarContenido(jsonDelta); // Cargar el contenido inicial en el editor
	</script>
}